In [1]:
# import the package
import nltk
import pandas as pd
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import os
sid = SentimentIntensityAnalyzer()

In [13]:
# open one csv file
inception_test = pd.read_csv('/Users/zejiachen/Desktop/fall 2021/QTM 340/Final Project/dataRating/inception.csv')

In [14]:
print(inception_test.shape)

inception_test.head()

(389, 3)

   Unnamed: 0 Rating                                           Comments
0           0  ★★★★★  "Inception," at its most basic, is two things....
1           1  ★★★★★  cillian murphy: no dad i'm giving up on YOUR d...
2           2  ★★★★½  christopher nolan spent years writing this mov...
3           3  ★★★★½  Dom Cobb seems like he's never told a joke in ...
4           4  ★★★★★                                            me: Gay

In [24]:
inception_test['overall'] = 0.0    
inception_test.head()

,Unnamed: 0,Rating,Comments,overall
0,0,★★★★★,"""Inception,"" at its most basic, is two things....",0.0
1,1,★★★★★,cillian murphy: no dad i'm giving up on YOUR d...,0.0
2,2,★★★★½,christopher nolan spent years writing this mov...,0.0
3,3,★★★★½,Dom Cobb seems like he's never told a joke in ...,0.0
4,4,★★★★★,me: Gay,0.0

In [5]:
def f(x):
    return {
        '★★★★★': 5,
        '★★★★½': 4.5,
        '★★★★': 4,
        '★★★½': 3.5,
        '★★★': 3,
        '★★½': 2.5,
        '★★': 2,
        '★½': 1.5,
        '★': 1,
    }.get(x, 0)

In [21]:
f(inception_test.iloc[2][1])

float

In [ ]:
len(inception_test.index)

In [25]:
for row in range(len(inception_test.index)):
    inception_test['overall'][row] = f(inception_test.iloc[row][1])

<ipython-input-25-a7db2f9c0537>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inception_test['overall'][row] = f(inception_test.iloc[row][1])

In [26]:
inception_test['overall'].dtypes

dtype('float64')

In [30]:
inception_test.head()

  Rating                                           Comments  overall
0  ★★★★★  "Inception," at its most basic, is two things....      5.0
1  ★★★★★  cillian murphy: no dad i'm giving up on YOUR d...      5.0
2  ★★★★½  christopher nolan spent years writing this mov...      4.5
3  ★★★★½  Dom Cobb seems like he's never told a joke in ...      4.5
4  ★★★★★                                            me: Gay      5.0

In [28]:
rows = []
for row in range(len(inception_test.index)):
    if inception_test.iloc[row][1].isascii() == True:
        rows.append(inception_test.iloc[row][0])
    elif len(inception_test.iloc[row][2]) == 1:
        rows.append(inception_test.iloc[row][0])

In [29]:
inception_test = inception_test.drop(rows)
inception_test.reset_index(inplace=True) 
inception_test = inception_test.drop(columns=['index', 'Unnamed: 0'])

---
## Aggregating

In [43]:
base_dir = "/Users/zejiachen/Desktop/fall 2021/QTM 340/Final Project/dataRating/"
# get a list of all the files in the directory
docs = os.listdir(base_dir)

In [44]:
# getting the file name
filmName = [os.path.splitext(os.path.basename(x))[0] for x in docs]
filmName

['interstellar',
 'inception',
 'tenet',
 'memento',
 'the-prestige',
 'the-dark-knight',
 'dunkirk-2017',
 'following',
 'insomnia-2002']

In [45]:
# read all the .csv file to dataframe
films = {}
for i in range(len(filmName)):
        films[filmName[i]] = pd.read_csv('/Users/zejiachen/Desktop/fall 2021/QTM 340/Final Project/dataRating/' + docs[i])
        
# adding the sentiment score and rating column
for i in filmName:
    films[i]['overall'] = 0.0
    films[i]['negative'] = ''
    films[i]['neutral'] = ''
    films[i]['positive'] = ''
    films[i]['compound'] = ''

In [46]:
films['inception'][:8]

   Unnamed: 0 Rating                      Comments                       overall negative neutral positive compound
0       0      ★★★★★  "Inception," at its most basic, is two things....    0.0
1       1      ★★★★★  cillian murphy: no dad i'm giving up on YOUR d...    0.0
2       2      ★★★★½  christopher nolan spent years writing this mov...    0.0
3       3      ★★★★½  Dom Cobb seems like he's never told a joke in ...    0.0
4       4      ★★★★★                                            me: Gay    0.0
5       5      ★★★★★  "The most important emotional thing about the ...    0.0
6       6      ★★★★½  how is joseph gordon-levitt? is he okay? where...    0.0
7       7      ★★★★★           WHEN WE ALL FALL ASLEEP, WHERE DO WE GO?    0.0

In [47]:
cleanFilms = {}

for film in films:
# preprocess the data
    name = films[film]
    nrow = len(films[film].index)
    deleteRows = []
       
    for row in range(nrow):
        name['overall'][row] = f(name.iloc[row][1])
        if name.iloc[row][1].isascii() == True:
            deleteRows.append(name.iloc[row][0])
        elif len(name.iloc[row][2]) == 1:
            deleteRows.append(name.iloc[row][0])
    print(deleteRows)
    
    
    name = name.drop(deleteRows)
    name.reset_index(inplace=True) 
    name = name.drop(columns=['index', 'Unnamed: 0'])
    
    cleanFilms[film] = name

<ipython-input-47-5f6a521d7155>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  name['overall'][row] = f(name.iloc[row][1])

[20, 23, 59, 74, 128, 135, 247, 248, 291]
[21, 31, 45, 51, 72, 78, 98, 103, 114, 133, 155, 168, 199, 221, 229, 240, 349, 361]
[6, 17, 19, 36, 39, 72, 84, 104, 108, 112, 118, 119, 122, 128, 129, 165, 170, 171, 176, 177, 192, 220, 228, 229, 257, 261, 265, 266, 284]
[52, 60, 64, 65, 79, 98, 103, 119, 172, 196, 208, 247, 269, 270, 335, 355, 389, 393]
[8, 19, 54, 62, 73, 81, 119, 127, 158, 167, 181, 197, 277, 369, 374, 392]
[3, 64, 106, 141, 153, 172, 174, 194, 217, 220, 222, 241, 294, 317, 321, 322, 386]
[23, 28, 36, 60, 66, 88, 93, 97, 110, 122, 123, 148, 157, 183, 188, 203, 224, 227, 242, 253, 286, 301, 335]
[14, 56, 58, 94, 97, 102, 103, 127, 162, 206, 230, 242, 258, 298, 321, 337, 338, 368, 404, 425]
[17, 28, 85, 107, 170, 186, 240, 258, 292, 301, 315, 326, 329, 345, 355, 379]

In [48]:
# calculating the score for each of the comments
for film in filmName:
    name = cleanFilms[film]
    nrow = len(name.index)
    print('film: ' + film)
    print('nrow: ' + str(nrow))
    for i in range(nrow):
        scores = sid.polarity_scores(name['Comments'][i])
        name['negative'][i] = scores['neg']
        name['neutral'][i] = scores['neu']
        name['positive'][i] = scores['pos']
        name['compound'][i] = scores['compound']

film: interstellar
nrow: 327
film: inception
nrow: 371

<ipython-input-48-e85e7eb9bc2c>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  name['negative'][i] = scores['neg']
<ipython-input-48-e85e7eb9bc2c>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  name['neutral'][i] = scores['neu']
<ipython-input-48-e85e7eb9bc2c>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  name['positive'][i] = scores['pos']
<ipython-input-48-e85e7eb9bc2c>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  name['compound'][i] = scores['compound']

film: tenet
nrow: 256
film: memento
nrow: 390
film: the-prestige
nrow: 378
film: the-dark-knight
nrow: 375
film: dunkirk-2017
nrow: 321
film: following
nrow: 419
film: insomnia-2002
nrow: 365

In [49]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
pd.set_option('display.colheader_justify', 'center')
pd.set_option('display.precision', 3)

for film in cleanFilms:
    print(film)
    display(cleanFilms[film][:3])

interstellar

  Rating                      Comments                       overall negative neutral positive compound
0  ★★★★★  I have a headache, but it's the best headache ...    5.0         0    0.608   0.392    0.778
1  ★★★★★  tell me you wouldn't cry too if your son grows...    5.0         0    0.846   0.154    0.372
2  ★★★★★  I'm pretty sure no one will EVER come close to...    5.0     0.178    0.594   0.227    0.226

inception

  Rating                      Comments                       overall negative neutral positive compound
0  ★★★★★  "Inception," at its most basic, is two things....    5.0         0    0.849   0.151    0.926
1  ★★★★★  cillian murphy: no dad i'm giving up on YOUR d...    5.0     0.158    0.504   0.338    0.359
2  ★★★★½  christopher nolan spent years writing this mov...    4.5         0        1       0        0

tenet

  Rating                      Comments                       overall negative neutral positive compound
0   ★★½                              thank you for watching    2.5         0    0.545   0.455    0.361
1     ★   Half the dialogue is exposition. The soundtrac...    1.0     0.079    0.921       0   -0.226
2     ½   nolan so scared to flop he designed a movie yo...    0.0     0.347    0.653       0   -0.706

memento

  Rating                      Comments                       overall negative neutral positive compound
0  ★★★★½         this is what finding dory should have been    4.5         0        1       0        0
1   ★★★★       i love not knowing what the fuck is going on    4.0     0.238    0.476   0.286    0.178
2   ★★★★  me: [giving him the finger] test this, you fuc...    4.0         0        1       0        0

the-prestige

  Rating                      Comments                       overall negative neutral positive compound
0  ★★★★½  Sometimes you just gotta ruin your life to own...    4.5     0.321    0.679      0    -0.688
1   ★★★★       when the prank war just goes too damn far :(    4.0     0.576    0.424      0    -0.859
2  ★★★★½  Second unexpected Radiohead in the credits mom...    4.5         0      0.8    0.2     0.361

the-dark-knight

  Rating                      Comments                       overall negative neutral positive compound
0  ★★★★★  If you do not like this movie, I do not like you.    5.0     0.319    0.681       0   -0.497
1  ★★★★★         the best superhero movie ever made. period    5.0         0    0.588   0.412    0.637
2  ★★★★★                 has no right to still be this good    5.0      0.19    0.518   0.292     0.29

dunkirk-2017

  Rating                      Comments                       overall negative neutral positive compound
0  ★★★★                 hans zimmer: TICK TOCK MOTHERFUCKER    4.0     0.571    0.429       0   -0.746
1   ★★★                         so thank you, harry styles.    3.0         0    0.589   0.411     0.42
2   ★★★   chris nolan: actually can I have 100 more of t...    3.0         0        1       0        0

following

  Rating                      Comments                       overall negative neutral positive compound
0   ★★★   A Christopher Nolan movie where people swear a...    3.0     0.291    0.709     0     -0.477
1   ★★★                                     following on yt    3.0         0        1     0          0
2   ★★★                            Christopher Nolan Ranked    3.0         0        1     0          0

insomnia-2002

  Rating                      Comments                       overall negative neutral positive compound
0  ★★★½                    could never happen to dunkaccino    3.5         0        1       0        0
1  ★★★½   The MTV Movie Awards should have created a "be...    3.5     0.261    0.418   0.321    0.178
2  ★★★★          oh mr nolan how very david fincher of you!    4.0         0        1       0        0

### Aggregating  the dataset & Store it

In [50]:
titleFilms = {}

for film in filmName:
    name = cleanFilms[film]
    copy = name.copy()
    copy['Film'] = film
    temp = pd.DataFrame(copy)
    titleFilms[film] = temp

In [51]:
columns = ['Film', 'Rating', 'Comments', 'overall', 'negative', 'neutral', 'positive', 'compound']
filmReview = pd.DataFrame(columns = columns)

In [52]:
for film in filmName:
    name = titleFilms[film]
    filmReview = pd.DataFrame(filmReview.append(name, ignore_index=True))

In [53]:
filmReview.head()

       Film     Rating                      Comments                       overall negative neutral positive compound
0  interstellar  ★★★★★  I have a headache, but it's the best headache ...    5.0         0    0.608   0.392    0.778
1  interstellar  ★★★★★  tell me you wouldn't cry too if your son grows...    5.0         0    0.846   0.154    0.372
2  interstellar  ★★★★★  I'm pretty sure no one will EVER come close to...    5.0     0.178    0.594   0.227    0.226
3  interstellar   ★★★★  When those Zimmer organs kick in *biggest poss...    4.0         0        1       0        0
4  interstellar  ★★★★★                         i needed a REALLY good cry    5.0     0.407      0.2   0.393  -0.0384

In [54]:
### Storing

for film in filmName:
    myData = cleanFilms[film]
    path = "/Users/zejiachen/Desktop/fall 2021/QTM 340/Final Project/DataForAnalysis/" + film + ".csv"
    myData.to_csv(path, encoding='utf-8')

In [55]:
    path = "/Users/zejiachen/Desktop/fall 2021/QTM 340/Final Project/" + 'filmNolan' + ".csv"
    filmReview.to_csv(path, encoding='utf-8')